OPENAI_API_KEY="LA_TUA_CHIAVE_API_DI_OPENAI_QUI"
PINECONE_API_KEY="LA_TUA_CHIAVE_API_DI_PINECONE_QUI"
PINECONE_INDEX_HOST="L_HOST_DEL_TUO_INDICE_PINECONE_QUI"
PINECONE_INDEX_NAME="IL_NOME_DEL_TUO_INDICE_PINECONE_QUI"